<li>
    <button (click)=destroyNode()>-</button>
    <code>{{nodeName}}</code>
    <button (click)=addChild()>+</button>
    <ul>
        <app-node *ngFor="let node of nodeList ;let i=index " [id]="i" (remove)="removeNode($event)" [name]="node"></app-node>
    </ul>
</li>